body {	
	font-family: 'Roboto Slab', serif;
	background-image: url(bg.jpg);
}

a {
	text-decoration: none !important;
	font-family: 'Roboto Slab', serif;
}

a:hover {
	color: black;
	font-family: 'Roboto Slab', serif;
}

br:before {
    display: block;
    margin-top: 10px;
    content: "";
}
