body {	
	font-family: 'Roboto Slab', serif;
	background-image: url(bg.jpg);
}

a {
	text-decoration: none !important;
	font-family: 'Roboto Slab', serif;
}

a:hover {
	color: black;
	font-family: 'Roboto Slab', serif;
}

br:before {
    display: block;
    margin-top: 10px;
    content: "";
}

.div-stylin{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    min-height: 400px;
    width: 300px;
    background: white;
    box-shadow: 0px 5px 42px rgba(0,0,0,0.10);
    margin: 10px;
    transition: all 0.3s ease-out;
}



.div-stylin:hover{
    transform: translateY(-20px);
    box-shadow: 5px 30px 72px rgba(10,10,10,0.30);
}

footer {
    padding: 1em;
    color: white;
    background-color: #4286f4;
    clear: left;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}


