body {	
	font-family: 'Open Sans Condensed', sans-serif;
}

a.cool {
	text-decoration: none !important;
	font-family: 'Open Sans Condensed', sans-serif;
}

a.cool:hover {
	color: blue;
	font-family: 'Open Sans Condensed', sans-serif;
}
